
:host {
	&>div {
		box-sizing: border-box;
		padding: 10px;
		margin: auto;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		background-color: var(--bg_lighter);
		max-width: 700px;
		display: flex;
		flex-direction: column;
		width: calc(100% - 20px);
		@media (max-width: 480px) {
			border: 0px;
			width: 100%;
		}
		height: 100%;
		&>.header {
			&>h1 {
				text-align: center;
			}
		}
		&>ol {
			margin: 0;
			padding: 0;
			&>li {
				cursor: pointer;
				box-sizing: border-box;
				list-style: none;
				width: 100%;
				padding: 20px;
				padding-left: 0;
				border-bottom: 1px solid gray;
				display: flex;
				align-items: center;
				font-size: larger;
				&>input {
					margin-right: 10px;
					width: 20px;
					height: 20px;
				}
				&>span {
					margin-left: 6px;
					font-size: medium;
				}
				&[data-checked] {
					opacity: 0.4;
					text-decoration: line-through;
				}
			}
		}
		.button {
			cursor: pointer;
			&.add-button {
				border: 2px solid var(--accent);
				background-color: var(--accent);
			}
			&.remove-button {
				border: 2px solid var(--green);
				background-color: var(--green);
			}
			padding: 10px;
			width: 80%;
			margin: auto;
			margin-bottom: 0;
			text-align: center;
			color: white;
			border-radius: 10px;
			margin-top: 20px;
			&:hover {
				background-color: transparent;
			}
		}
	}
	.dialog {
		display: none;
		&.active {
			display: flex;
		}
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 500px;
		height: fit-content;
		padding: 40px;
		background-color: var(--bg_color);
		border: 1px solid gray;
		border-radius: 10px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		grid-gap: 20px;
		gap: 20px;
		input, select {
			box-sizing: border-box;
			padding: 20px;
			width: 100%;
			background-color: transparent;
			border: 2px solid gray;
			border-radius: 6px;
			font-size: large;
		}
		div {
			background-color: var(--accent);
			padding: 10px;
			font-size: larger;
			border-radius: 10px;
			display: flex;
			width: 100px;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: white;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
