
:host {
	&>div {
		display: flex;
		flex-direction: column;
		font-size: x-large;
		padding: 10px;
		width: 70%;
		margin: auto;
		align-items: center;
		margin-top: 40px;
		text-align: center;
		&>h1 {
			&>b {
				color: var(--yellow);
			}
			margin-bottom: 0;
		}
		&>input, &>div:first-of-type {
			width: 100%;
			padding: 20px;
			background-color: var(--text_highlight);
			color: var(--bg_dark);
			font-size: 20px;
			height: 30px;
			border: none;
			margin-top: 60px;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#submit {
			opacity: 0.4;
			&.active {
				opacity: 1;
			}
		}
		&>div:first-of-type {
			margin-top: 10px;
			background-color: var(--accent);
			color: var(--text_highlight);
			font-size: 26px;
			cursor: pointer;
			border: 3px solid var(--accent);
			transition: background-color 0.2s;
			&.active:hover {
				background-color: transparent;
			}
		}
		&>p {
			margin-top: 50px;
			align-items: flex-start;
			display: flex;
			width: 120%;
		}
		img {
			width: 120%;
			display: flex;
			border-radius: 6px;
		}
		#images {
			flex-direction: column;
			grid-gap: 20px;
			gap: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
		}
	}
}
